.close-btn {
  display: block;
  overflow: hidden;
  outline: none;
  padding: 0;
  color: currentColor;
  background: transparent;
  width: 24px;
  height: 20px;

  &:hover {
    color: $blue-violet;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 4px;
    background-color: currentColor;
    right: 0;
  }

  &::before {
    top: 8px;
    transform: rotate(-45deg);
  }

  &::after {
    bottom: 8px;
    transform: rotate(45deg);
  }
}