.direction-btn {
  width: 50px;
  height: 50px;
  background-color: $text-color;
  transition: .2s;
  outline: none;
  
  &:hover, &:active {
    background-color: $blue-violet;
  }

  &--next {
    transform: rotate(-90deg);
  }
  &--prev {
    transform: rotate(90deg);
  }

  &.is-active {
    .direction-btn__arrow {     
        opacity: 1;    
    }    
  }
}

.direction-btn__arrow {
  height: 10px;
  fill: #fff;
  opacity: 0.4;
}
