.form__row {
  display: flex;
  margin-left: -80px;

  @include phones {
    flex-wrap: wrap;
  }
}

.form__btn {  
  margin-top: 20px;
  height: 80px;
  width: 90%;
  max-width: 340px;

  @include tablets {
    align-self: center;
  }
}