.iconed-link {
  display: flex;
  align-items: center;
  color: $light-blue;
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: currentColor;
  }
}

.iconed-link__icon {
  width: 16px;
  max-height: 16px;
  fill: $light-blue;
  margin-right: 10px;
}