.reviews {
  overflow: hidden;
}

.reviews__container {
  margin-top: 130px;
  margin-bottom: 180px;
}

.reviews__block {
  display: flex;
  margin-bottom: 80px;
}

.reviews__nav {
  margin-left: 50px;
}

.reviews__list {
  display: flex;
  width: 80%;
  overflow: hidden;
}

.reviews__list-item {
  width: 50%;
  flex-shrink: 0;
  padding-right: 40px;
}