.scroll__link {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  transition: .2s;

  &:hover {
    color: $violet;
  }
}

.scroll__img {
  margin-left: 10px;
  width: 30px;
  max-height: 30px;
  fill: currentColor;
}