.send-button {
  outline: none;
  background: linear-gradient(to right, $violet, $blue-violet);
  width: 100%;
  height: 100%;
  border-radius: 40px 0 40px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}