.skills-row__list {
  display: flex;
  margin-right: -30px;
  @include phones {
    flex-wrap: wrap;
    margin-right: -15px;
  }
}

.skills-row__item {
  width: calc(100%/4-30px);
  max-width: 155px;
  margin-right: 30px;
  flex-shrink: 0;

  @include phones {
    margin-right: 15px;
    flex-basis: calc(100%/2-15px);
  }
}

.skills-row__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;

  @include tablets {
    text-align: center;
  }
}