.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__avatar {
  width: 200px;
  height: 200px;
  margin-bottom: 75px;
}

.user__text {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.user__text-left {
  opacity: 0.5;
}

.user__text-right {
  font-weight: 700;
}

.user__text-row {
  margin-bottom: 15px;
}