section.about
  .container.about__container
    .about__left
      .user
        .user__avatar
          .avatar
            +image('content/user.jpg', 'avatar__img')
        .user__text
          .user__text-left
            .user__text-row Проживаю:
            .user__text-row Возраст:
            .user__text-row Родился:
          .user__text-right
              .user__text-row Орел
              .user__text-row 31 год
              .user__text-row 27 октября 1988                 
    .about__right
      .about__text Привет, меня зовут
      h2.about__username.section-title Вадим Бекитко
      p.about__desc 
        | Я занимаюсь разработкой современных сайтов и приложений. 
        br
        | Мне нравится делать интересные и современные проекты.              
      p.about__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво!