footer.footer
  .container.footer__container
    .footer__info
      .footer__year &copy;&nbsp;2020
      .footer__author 
        .footer__author-name Вадим Бекитко
        .footer__info-desc Личный сайт веб&#8209;разработчика
    .footer__content
      .footer__menu
        +menu("footer")
      .footer__block
        .footer__block-left
          .footer__block-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
          .footer__socials
            +socials("footer")
        .footer__block-right
          .footer__block-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
          .footer__block-author Martin Golding