mixin menu(mod)
  nav(class="menu menu--" + mod)
    -
      var data = [
        {title:'Главная', href: 'intro'}, 
        {title:'Обо мне', href: 'about'}, 
        {title:'Навыки', href: 'values'}, 
        {title:'Работы', href: 'works'}, 
        {title:'Отзывы', href: 'reviews'}, 
        {title:'Связаться', href: 'response'}
      ];
    ul.menu__list
      each item in data              
        li.menu__item
          a(href=`#${item.href}`).menu__link #{item.title}