-
  var layers = [
    {name:"sky", data:0.1},
    {name:"mountain", data:0.25},
    {name:"baloon", data:0.3},
    {name:"cloud", data:0.55},
    {name:"man", data:0.2},
    {name:"snow", data:0.25},
    {name:"white", data:0.1}
  ];
ul.parallax
  each layer in layers
    li.parallax__layer(class=`parallax__layer--${layer.name}` data-speed=`${layer.data}`)
      picture.parallax__img
        source(srcset=require(`images/parallax/${layer.name}.png`) media="(min-width: 769px)")
        img(srcset='')