section.response
  .container           
    h2.response__title.section-title Связаться со мной
    .response__content
      .response__form
        form.form#form
          .form__row
            label.form-block
              .form-block__desc Введите ваше имя
              .form-block__row
                +icon('avatar', 'form-block__icon')
                input(name="name" type="text" required  placeholder="Ковальчук Дмитрий").form-block__input.form-block__entry
              .form-block__validate Заполните это поле
            label.form-block
              .form-block__desc Введите ваш email
              .form-block__row
                +icon('envelope', 'form-block__icon')
                input(name="email" type="text" required  placeholder="loftschool@study.com").form-block__input.form-block__entry
              .form-block__validate Заполните это поле
          .form__row
            label.form-block
              .form-block__desc Сообщение к письму
              .form-block__row
                +icon('message', 'form-block__icon')
                textarea(name="textarea" type="text" required  placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса").form-block__entry.form-block__textarea
              .form-block__validate Заполните это поле
          .form__btn
            button.send-button#response-btn Отправить