section#reviews.reviews
  .triangles
    svg.triangles__item.triangles__item--left(version="1.1" viewBox="0 0 180 12"  preserveAspectRatio="none")
      polygon(points="0,0 180,0 180,12")
    svg.triangles__item.triangles__item--right(version="1.1" viewBox="0 0 180 12"  preserveAspectRatio="none")
      polygon(points="180,0 0,12 0,0")
  .container.reviews__container
    #reviews-component