mixin socials(mod)
  div(class="socials socials--" + mod)
    -var socials=['insta', 'vk', 'github'];
    ul.socials__list
      each item in socials
        li.socials__item
          a(href="#").socials__link
            +icon(`${item}`,'socials__icon')