section.values
  .triangles
    svg.triangles__item.triangles__item--left(version="1.1" viewBox="0 0 180 12"  preserveAspectRatio="none")
      polygon(points="0,0 0,12 180,12")
    svg.triangles__item.triangles__item--right(version="1.1" viewBox="0 0 180 12"  preserveAspectRatio="none")
      polygon(points="180,0 180,12 0,12")        
  .container.values__container
    .values__title 
      h2.values__title-text Чем я могу быть полезен вам
      .values__desc Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво!
    .values__widget
      #skills-component