script(type="text/x-template")#reviews-container
  .rewiews__wrapper
    .reviews__block
      h2.reviews__title.section-title Что обо мне говорят
      .reviews__nav
        button.listing-btn.listing-btn--prev(@click="previous()" :disabled='true')
          +icon('arrow-down', 'listing-btn__pic')
        button.listing-btn.listing-btn--next(@click="next()" :disabled='false')
          +icon('arrow-down', 'listing-btn__pic')
    .reviews__slider
      flickity(ref="flickity" :options="flickityOptions")
        .reviews__item(v-for="review in reviews" :key="review.id")
          .review
            .review__img-bg                      
            .review__content
              .review__text {{review.text}}
              .person.review__person
                .person__avatar
                  .avatar
                    //- img(:src="review.photo", alt="", class="avatar__img")
                .person__info
                  h4.person__name {{review.author}}
                  .person__post {{review.occ}}