script(type="text/x-template")#skills-list
  .values__widget-content
    ul.skills
      li.skills__item(v-for="skill in skills")
        skills-row(
          :skill="skill"
        )

script(type="text/x-template")#skills-row
  .skills-row
    .skills-row__title {{skill.skillsGroup}}
    ul.skills-row__list
      li.skills-row__item(v-for="skillPercent, skillName in skill.skills") 
        skill(
          :skillName="skillName"
          :skillPercent="skillPercent"
        )
        
script(type="text/x-template")#skill
  .skill
    .skill__title {{skillName}}
    svg.skill__circle-svg(version="1.1" viewBox="0 0 150 150"  preserveAspectRatio="none")
      circle.skill__circle.skill__circle--inner(cx="75" cy="75" r="65")
      circle.skill__circle.skill__circle--outer(ref="color-circle" cx="75" cy="75" r="65" stroke="url(#gradient)" transform="rotate(180 75 75)")