include ./mixins.pug
include ./templates/blocks/socials.pug
include ./templates/blocks/menu.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section
        .welcome-section__bg
        include ./templates/blocks/parallax.pug
        include ./templates/blocks/intro.pug
        include ./templates/blocks/about.pug
      include ./templates/blocks/values.pug            
      include ./templates/blocks/works.pug            
      .bg-section        
        include ./templates/blocks/reviews.pug            
        include ./templates/blocks/response.pug
      include ./templates/blocks/footer.pug
      svg(version="1.1").gradient          
        linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0%")
          stop(offset="0%" stop-color="#4a00ed")
          stop(offset="100%" stop-color="#7d00ea")
    
      include ./templates/entry.pug